# Project exclude paths
/out/
CSS Essential Training/


FlaskIntroduction/env/



Learn Kotlin/out/

Data Structures/out/

Learn Python/Snippets/Spammers/pastas/__pycache__/

Learn Python/Snippets/Spammers/__pycache__/
